@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Sistema Gerador de Rotas</h1>
    <hr />
    <br />
    <br />
    <div>
        <label>Inicie o sistema, fazendo o login acessando o atalho "Entrar" no menu superior.</label>
    </div>
</div>
